<h1>Welcome to your contacts list!</h1>
<br>

<h2>Add a contact:</h2>
<form id="add-contact" action="/" method="post">
  <label>Name:</label>
  <input type="text" id="name" name="name" placeholder="name"><br><br>
  <label>Email address:</label>
  <input type="email" id="email" name="email" placeholder="email"><br><br>
  <input type="submit" value="Add contact">
</form>
<br>
<br>

<h2>Contacts:</h2>
  <form id="edit-contact" style="display: none;">
    <input name="name"/>
    <input name="email"/>
    <button>Update</button>
    <button type="reset">Cancel</button>
  </form>
<div class="contacts">
<% @contacts.each do |contact| %>
  <div class="contact">
    <h4 class="contact-name"><%= contact.name %></h4>
    <h5 class="contact-email"><%= contact.email %></h5>
    <button class="edit">edit contact</button>
  </div>
  <hr>
<% end %>
</div>


