<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Contacts</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="/javascript/application.js"></script>
</head>

<body>
  <%= yield %>
</body>
</html>
